 /* swiper */
 .swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal {
     bottom: -30px !important;
 }

 .swiper-button-prev {
     left: -55px !important;
 }

 @media (max-width:640px) {
     .swiper-button-next {
         display: none !important;
     }

     .swiper-button-prev {
         display: none !important;
     }

     .swiper-flip .swiper-slide-active {
         display: flex;
         justify-content: center;
     }
 }

 @media(max-width:992px) {
     .slick-next {
         display: none !important;
     }

     .slick-prev {
         display: none !important;
     }
 }

 /* slick slider */
 .slick-track {
     display: flex;
     gap: 20px;
 }

 .slick-next::before {
     color: skyblue !important;
 }

 .slick-prev::before {
     color: skyblue !important;
 }

 /* keyframe */
 .keyframe {
     width: 100px;
     height: 100px;
     background-color: red;
     animation-name: example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
 }

 @keyframes example {
     0% {
         background-color: red;
     }

     25% {
         background-color: yellow;
     }

     50% {
         background-color: skyblue;
     }

     100% {
         background-color: green;
     }
 }
 /* sweetalert */
 .swal-footer{
    text-align: center;
    padding: 7px 24px;
 }
 .swal-modal {
    width: 400px;
 }
 .swal-title {
    padding: 0 !important;
 }
 .swal-text{
    text-align: center;
 }
 .swal-button {
  background-color: rgb(222, 41, 41) !important;
    color: white;
    border: none;
    box-shadow: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 14px;
    padding: 10px 24px;
    margin: 0;
    border: none !important;
    cursor: pointer;
    transition: .3s;
}
.swal-button:hover{
    border: none !important;
    scale: .95;
}
.swal-button--danger {
    background-color: #b8b8b8;
}
