 /* swiper */
 .swiper-horizontal>.swiper-pagination-bullets,
 .swiper-pagination-bullets.swiper-pagination-horizontal {
     bottom: -30px !important;
 }

 .swiper-button-prev {
     left: -55px !important;
 }

 @media (max-width:640px) {
     .swiper-button-next {
         display: none !important;
     }

     .swiper-button-prev {
         display: none !important;
     }

     .swiper-flip .swiper-slide-active {
         display: flex;
         justify-content: center;
     }
 }

 @media(max-width:992px) {
     .slick-next {
         display: none !important;
     }

     .slick-prev {
         display: none !important;
     }
 }

 /* slick slider */
 .slick-track {
     display: flex;
     gap: 20px;
 }

 .slick-next::before {
     color: skyblue;
 }

 .slick-prev::before {
     color: skyblue;
 }

 /* keyframe */
 .keyframe {
     width: 100px;
     height: 100px;
     background-color: red;
     animation-name: example;
     animation-duration: 4s;
     animation-iteration-count: infinite;
 }

 @keyframes example {
     0% {
         background-color: red;
     }

     25% {
         background-color: yellow;
     }

     50% {
         background-color: skyblue;
     }

     100% {
         background-color: green;
     }
 }

